.one {
    color: red;
    .two {
        color: green;
        .three {
            color: blue;
        }
    }
}

// underbar되어잇는 것들은 실제로 css로 렌더링되지 않습니다.
// 파일을 스타일별로 단위별로 기능별로 분리할 수 있기 때문에 유지보수에 용이해집니다.
// 헤더, 버튼, 
// 주석은 scss파일에서만 볼 수 있으며 렌더링된 css파일에서는 보이지 않습니다.