//list
$font-sizes : 10px, 12px, 14px;
// 사용법 > font-size: nth($font-sizes, 1)

//map
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
//>사용법 map-get(변수명, key)
//>사용법 map-get($font-weights, "medium")

//1번 
$path : "assets/img/";
$elements: (
    "back": $path + "background.png",
    "icon": $path + "icon_font_awesome.png"
);

nav {
    background-image: url(map-get($elements, "back"));
}

.home {
    background: url(map-get($elements, "icon"));
}

//2번
$directions: 'left', 'right', 'bottom';

.title {
    border: {
        // &-nth($directions, 3) : 1px solid black;
        // 이렇게 쓰고 싶었어요 근데 안되네요?
    }
}

.title { // 그럼 이렇게 쓰시면 됩니다. #{} 요개 따옴표를 없애줍니다.
    .border-#{nth($direction, 1)} {
        border-bottom: 1px solid black;
    }
}

// 지변전변
.one {
    // 지역변수
    $value: red;
    color: $value;

    .three {
        background-color: $value;
    }
}

// error 납니다.
// .two {
//     color: $value;
// }