/* 구글폰트로 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

h2 {
    color: royalblue;
    font-family: 'Noto Sans KR', sans-serif;
}

/*폰트페이스 - url*/
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/*폰트페이스 - local*/
@font-face {
    font-family: 'tway_air';
    src: url('./font/tway_air.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.font-tway-air {
    color: royalblue;
    font-family: 'tway_air', sans-serif;
}

body {
  color: red;
}
h1 {
  color: inherit;
  font-family: 'SUITE-Regular';
}
strong {
  border-bottom: 5px solid currentColor;
}



button {
    color: currentColor;
    font-family: inherit;
    /* font-family: ~~, ~~, ~~ 라고 되어있으면 순서대로 우선순위가 적용되어서 폰트가 적용됩니다. 이 폰트 입힐건데 없으면 이거, 없으며 이거 이렇게 이렇게! */
    /* 한글 폰트의 경우 ""로 묶어야하며, 영문 폰트의 경우 폰트패밀리 이름 내에 공백이 포함되어있으면 ""로 묶어야함! 한글폰트 중 한글 명 영문 명 두가지 중 어떤게 적용될지 모를 경우 둘 다 적어 준다! */
    /* 영문 폰트는 가벼운 편인데 한글 폰트는 엄청 무거운 편! abcd알파벳 26개만 만들면 되는게 아니라 조합을 모두 만들어놔야해서 엄청 무거움! 압축하는 방법 혹은 최소한으로 사용합니다.  */

    /* 로컬 폰트파일로 바꿔주려면?! */

}

