.face {
    width: 500px;
    height: 500px;
    background-color: wheat;
    border-radius: 30px 30px 200px 200px;
    border-bottom: 15px solid rgb(228, 199, 147);
    display: flex;
    justify-content: space-between;
}

.ear {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.eye {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}