p {
    color :red;
}

section>p {
    color: royalblue;
}

[type="button"] {
    background-color: crimson;
}

section {
	color: red;	
	border: 5px solid pink;
}
h1 { border: inherit; }

button {
    color:inherit;
}