@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    font-weight: 500;
    /* background: url(./images/modal.png) no-repeat 0 0/520px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font: inherit;
}

button,
input {
    font: inherit;
    border: 0;
    background: transparent;
}

a{
    text-decoration: none;
    color:inherit;
}

ul, li {
    list-style: none;
}
/* ---- reset css ---- */

main {
    background: #ffffff95;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 100%;
    max-width: 520px;
    min-width: 275px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* ---- header ----  */
.header {
    padding: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
    position: relative;
}

.header>h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.header .btn-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    
    position:absolute;
    right: 24px;
    top: 5px;
    border: 0;
}
/* ---- header ----  */

/* ---- 메인 로그인 ---- */
h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    margin: 25px;
}

input, 
[class^="btn"] {
    display: block;

    padding: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 0 auto;

    width: calc(100% - 48px);
    box-sizing: border-box;
    line-height: 20px;

    cursor: pointer;
}

input {
    margin: 10px auto;
}

input.user-id {
    position: relative;
    cursor: text;
}

input.user-id:focus,
input.user-pw:focus {
    outline: 2px solid red;
    outline-offset: -1px;
    
}

/* 빈 태그에는 가상요소 사용 불가!!! */
div.user-id:focus-within::after {
    content: '아이디를 입력해주세요';
    display: inline-block;
    position: relative;
    top: 0;
    left: 25px;

    color: red;
}

div.user-pw:focus-within::after {
    content: '아이디 혹은 비밀번호가 일치하지 않습니다.';
    display: inline-block;
    position: relative;
    top: 0;
    left: 25px;

    color: red;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.label-keep-login {
    display: block;
    margin: 16px 27px 20px;
    color: #767676;
}

.label-keep-login::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(./images/check-box.svg) no-repeat 0 0/ 22px;
    margin-right: 8px;
    vertical-align: -5px;
}

.btn-keep-login:checked+.label-keep-login::before{
    background: url(./images/check-box_checke.svg) no-repeat 0 0/ 22px;
}

.btn-keep-login:focus-visible+.label-keep-login {
    outline: 2px solid #000;
    border-radius: 5px;
    outline-offset: 4px;
}

.btn-login {
    background-color: #2F80ED;
    border: 1px solid #2F80ED;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-container ul {
    color: #767676;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.list-link-join::after {
    content: '|';
    margin-left: 12px;
}
/* ---- 메인 로그인 ---- */

/* ----  중간 구분선 ---- */
/* 부모요소의 %를 가져올 때에도 position relative 값이 있는 부모요소에서 width값을 가져옴!!! */
.division-part {
    position: relative;
}

hr {
    width: calc(100% - 48px);
    margin: 38px auto 29px;
    height: 1px;
    background-color: #c4c4c4;
    border: 0;
}

.div-line-or {
    display: inline-block;
    position: absolute;
    top: -0.5em;
    left: calc(50% - 0.5em - 22px);

    background-color: #ffffff;
    padding: 0 14px;

    color: #767676;
    font-size: 14px;
    font-weight: 400;
}
/* ----  중간 구분선 ---- */

/* ----  소셜 로그인 ---- */
.social-login-list li {
    color: #767676;
    margin: 10px auto;
    position: relative;

    text-align: center;
}

.btn-social-login {
    display: block;
    padding-left: 36px;
}

.btn-social-login::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(1em - 3px);
    left: 2.5em;

    width: 24px;
    height: 24px;
    background: url(./images/icon_sprites.png);
    background-size: 117px 84px;
}

.google {
    border: 1px solid #767676;
}

.google::before {
    background-position: -10px -10px;
}

.facebook {
    border: 1px solid #2D9CDB;
}

.facebook::before {
    background-position: -92px -10px;
}

.naver {
    border: 1px solid #00BF18;
}

.naver::before {
    background-position: -10px -52px;
}

.kakao {
    border: 1px solid #F2C94C;
}

.kakao::before {
    background-position:  -52px -10px;
}

.social-login-list li:last-child {
    margin-bottom: 25px;
}
/* ----  소셜 로그인 ---- */
