.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

header {
    background: var(--bg-2, #2F3B4B);
}

.container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.info,
.welcome-text,
.logout,
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sm {
    width: 69px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 53px;
}

.info {
    gap: 24px;
}

.welcome-text::after {
    content: '|';
    margin-left: 24px;
}

.logout {
    gap: 4px;
}

.icon-logout {
    width: 32px;
}

.text-logout {
    color: var(--em);
}

/* ---- 오늘의 기록 ---- */

.today h2 {
    margin-bottom: 32px;
}

.main {
    display: flex;
    justify-content: center;
}

.today {
    padding: 32px 48px;
    width: 464px;
    display: flex;
    flex-direction: column;
}

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 368px;
}

/* ---- 오래된 기록들 ---- */
.old {
    padding: 32px 48px;
}

.old h2 {
    margin: 0;
}

.old,
.one-day .note-list,
.one-week .note-list,
.one-month .note-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.note-list article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 478px;
    padding: 30px 28px 35px;
    border: 1px solid var(--medium);
    border-top: 4px solid var(--medium);
}

.note-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--icon, #9BABB2);
    width: 100%;
    text-align: center;
    white-space: pre-wrap;
}

.note-content {
    background: none;
    width: 100%;
    font-size: 14px;
    color: var(--em, #dde0e4);
    line-height: 20px;
    resize: none;
    border-radius: 8px;
    padding: 4px;
}

.note-content:hover {
    background-color: #171c22;
}