/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
    font-weight: 700;
    font-style: normal;
}

/* reset */
body,
h1,
h2,
h3,
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3 {
    font: inherit;
}

button:enabled {
    cursor: pointer;
}
img {
    max-width: 100%;
}

/* 실습 */
body {
    font-family: 'Pretendard-Regular', sans-serif;
}

.card {
    width: 288px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
}

.fwb {
    font-weight: bold;
    color: #29363D;
}

.fss {
    font-size: 12px;
    color: #5A6A72;
}

.ell1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ell2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.6;
    height: calc(1em *1.6 *2);
}

.middle {overflow: hidden;}

card>a>header {
    display: flex;
    overflow: hidden;
}
