@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    } 

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    } 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
}

.card-bg {
    width: 18rem;
    height: 21.75rem;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    /* overflow: hidden 사용시 주의사항 혹시 박스 밖으로 나가야하는 유아이 요소가 있는지 확인을 해야합니다 ex) 닫기 버튼, focus 되었을 때 생기는 outline*/
    font-family: 'Pretendard';
    box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0,0,0,0.1);
    margin: 25vh auto;
}

.card-bg img {
    width: 100%;
    /* 어떤 비율의 이미지가 들어가도 같은 비율의 컨테이너에 크롭되도록 보통 원하지 않은 부분이 크롭되더라도 포지션을 수정하는 코드를 넣지는 않습니다 */
    object-fit: cover;
    aspect-ratio: 288/196;
    overflow: hidden;
}

.img-wrap {
    width: 100%;
    height: 12.25rem;
}

.card-text-head {
    font-family: "Pretendard-Bold";
    font-size: 1rem;
    color : #29363D;
    margin: 1.5rem 1rem 0.75rem 1rem;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-text-content {
    font-size: 0.75rem;
    height: calc(0.75rem * 1.6 * 2);
    /* 텍스트가 길어지든 짧아지든 레이아웃이 깨지지 않게끔 작업을 해주셔야 합니다. */
    color: #5A6A72;
    line-height: 1.25rem;

    /* text-overflow: ellipsis; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
    margin: 0.75rem 1rem 1rem 1rem;
}

.card-text-button {
    color: #29363D;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
    margin: 1rem;
    padding: 0 0 0 4px ;
}