* {
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; 
    font-size: 36px; 
    font-weight: bold;  
}

body {
    height: 1024px;
}

div, header {
    padding: 32px 64px;

    color: #fff;

    text-align: center;
    
    text-transform: capitalize;
    transition: all 0.3s;
}

/* box-shadow: inset 상 우 하 좌 컬러코드 */
.grey-box {
    width: 100%;
    padding: 0;
    background-color: #343f50;

    border: 4px solid black;
    box-sizing: border-box;
    box-shadow: inset 5px 5px 0 0 #4a5568;
}

/* 내부에 또 다른 태그를 넣어서 보더를 두개 만들 수 있게끔 */
.grey-box p{
    margin: 0;
    padding: 32px 64px;
    /* border: 3px solid #4a5568; */
    
}

.rainbow-box {
    width: fit-content;
    /* to right = 90deg */
    background: linear-gradient(to right, rgb(202, 111, 255), rgb(66, 94, 255));
    border-radius: 100px;
    border: 4px dashed #f0d0ff;
    background-clip: padding-box;
    margin: 24px auto;
}

.msg-bbl-box-left {
    width: fit-content;
    background-color: #ffffff;
    border: 4px solid #f1f1f1;
    border-radius: 0 100px 100px 100px ;
    color: #4d4d4d;
    box-shadow: 8px 8px 16px #e4e4e4;
    margin-left: 24px;
    margin-right:auto;
}

.msg-bbl-box-right {
    width: fit-content;
    background-color: #ffffff;
    border: 4px solid #f1f1f1;
    border-radius: 100px 0 100px 100px ;
    color: #4d4d4d;
    box-shadow: 8px 8px 16px #e4e4e4;
    margin-left: auto;
    margin-right:24px;
}

div:hover {
    background-color: #f1f1f1;
    width: fit-content;
    height: fit-content;
    font-size: 48px;
    color: #ffffff;
}

/* outline 속성을 활용해 보더 밖으로 outline이 생기게 */
.outline {
    background: rosybrown;
    margin: 64px auto;
    width: fit-content;
    border: 4px solid black;
    outline: 4px solid salmon;
    box-sizing: border-box;
    border-right: 0;
    border-bottom: 0;
}

.input-text {
    width: 95%;
    padding: 36px 64px;
    box-sizing: border-box;

    border: 4px solid #f0d0ff;
    border-radius: 100px;

    margin: auto 24px;

    font-size: 36px;
    color:rgb(216, 149, 255);
}

.input-text:focus {
    background: linear-gradient(90deg, rgb(216, 149, 255), rgb(107, 130, 255));
    color:#ffffff;
}

/* 100%로 만들고 padding값으로 크기를 조정하는 편이 좋다. */