@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    } fsdf

* {
    font-family: "Pretendard";
    padding : initial;
    margin: initial;
}

div.wrapper {
    background-color: orange;
    
    width: 800px;
    /* height: auto; */
    margin: 100px auto;
}

.header {
    background-image: url(./images/background4.png);
    background-size: cover;
    background-position: center;
    padding: 100px 0;

    color: white
}

.footer {
    background-color: rosybrown;
}

body {
    background-image: url(./images/background.gif);}

header h1,
header p {
    /* background-color: orange; */
    text-align:center;
    margin:0 auto;
    display: block;
}

header.header>img {
    margin:0 auto;
    display: block;
}

.header>p {
    border-top: 3px solid white;
    width: fit-content;
    padding: 3px 20px;
    margin-top: 20px;
}

.contents {
    background-color: #ddd;
    padding: 16px;
    
}

.contents-list {
    padding: 16px;
    background-color: #fff;
    margin: 16px auto;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}
.section li{
    border-left: 10px solid #ddd;
    padding-left: 5px;
}

