:root {
    font-family: 'Montserrat', sans-serif;
  	font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #673399;
}

body,
h1, h2, h3, p, mark {
  font: inherit;
  font-weight: 400;
  color: inherit;
}

p {
  display: inline-block;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}
/* ---- reset.css ---- */

/* ---- bg ---- */
section.portfolio {
  width: 1080px;
  /* height: 100vh; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 100px;
  padding: 100px;
}
/* ---- bg ---- */

/* ---- header ---- */
.header {
  display: flex;
  align-items: center;
  gap : 0px;
}

.header>h1.welcome {
  font-size: 40px;
  text-transform: uppercase;
  width: 26%;
  flex-shrink: 0;
  color: #fff;
}

.header h1.welcome mark{
  background-color: #fff0;
  box-shadow: inset 0 -0.5em 0 orangered;
}

.header .desc::before {
  content: " ";
  width: 30%;
  height: 2px;
  background-color: currentColor;
  /* currentColor = 부모요소의 폰트색(color속성)을 물려받음 */
}

.header .desc {
  padding-right: 20%;
  color: #bd8fe8;
  /* dsipaly flex를 해주면 자식요소인 before after가상요소에도 width height를 지정할 수 있음 */
  display: flex;
  align-items: center;
  gap: 32px;
}
/* ---- header ---- */

/* ---- main ---- */
.main ul.feature-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feature {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}

.img-wrapper {
  width: 26%;
  flex-shrink: 0;
  position: relative;

 display: flex;
 align-items: center;
 justify-content: center;
}

/* 이미지가 계속 수정되어야 하는 경우,
요소마다 들어가는 이미지가 다른 경우에는
css 보다는 html에서 수정할 수 있도록 img 요소 써주기 */
.img-wrapper img {
  height: 100%;
  object-fit: cover;
}

.img-wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  /* 1. contents 크기만큼으로 width height 줄어듦
  2. 위치는 viewport 기준으로 (body아님) top, left 위치이동 */
  background-color: #67339992;
}

.img-wrapper h2 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  /* top: calc(50% - 0.5em);
  left: calc(50% - 1em); */
}

/* .feature-list>li:nth-child(even) .img-wrapper{
  order: 2;
} */

.feature-list>li:nth-child(even) .feature {
  flex-direction: row-reverse;
}

.desc {
  font-size: 14px;
  padding: 24px;
  flex-grow: 2;
}

.desc h3 {
  font-size: 18px;
  font-weight: bold;
  color: #673399;
  background-color: #fff0;
  margin-bottom: 32px;
}

.desc li{
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}

.desc li::before{
  content: '';
  width: 10px;
  height: 10px;
  /* position: absolute; */
  display: inline-block;
  margin-left: calc( -1 * ( 10px + 10px ));
  border-radius: 100%;
  background-color: #bd8fe8;
}

